<style type="text/css">
    .medium-header {
        border-bottom: 1px solid #cddee7;
        padding-bottom: 3px;
        margin-bottom: 25px;
    }
    .sub-header {
        border-bottom: 1px dotted #cddee7;
        padding-bottom: 3px;
        margin-bottom: 25px;
    }
</style>
<h2 class="medium-header"><__trans phrase="Setting for edit screen"></h2>
<mtapp:setting
    id="check_delicious"
    label="<__trans phrase="Check del.icio.us">">
    <label><input type="checkbox" <mt:if name="check_delicious">checked="checked"</mt:if> name="check_delicious" id="check_delicious" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_hatena"
    label="<__trans phrase="Check Hatena BookMark">">
    <label><input type="checkbox" <mt:if name="check_hatena">checked="checked"</mt:if> name="check_hatena" id="check_hatena" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_livedoor"
    label="<__trans phrase="Check Livedoor clip">">
    <label><input type="checkbox" <mt:if name="check_livedoor">checked="checked"</mt:if> name="check_livedoor" id="check_livedoor" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_yahoo"
    label="<__trans phrase="Check Yahoo! BookMark">">
    <label><input type="checkbox" <mt:if name="check_yahoo">checked="checked"</mt:if> name="check_yahoo" id="check_yahoo" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_buzzurl"
    label="<__trans phrase="Check Buzzurl">">
    <label><input type="checkbox" <mt:if name="check_buzzurl">checked="checked"</mt:if> name="check_buzzurl" id="check_buzzurl" /> <__trans phrase="Check"></label>
</mtapp:setting>
<h2 class="medium-header"><__trans phrase="Setting for listing screen"></h2>
<mtapp:setting
    id="check_delicious_at_listing"
    label="<__trans phrase="Check del.icio.us">">
    <label><input type="checkbox" <mt:if name="check_delicious_at_listing">checked="checked"</mt:if> name="check_delicious_at_listing" id="check_delicious_at_listing" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_hatena_at_listing"
    label="<__trans phrase="Check Hatena BookMark">">
    <label><input type="checkbox" <mt:if name="check_hatena_at_listing">checked="checked"</mt:if> name="check_hatena_at_listing" id="check_hatena_at_listing" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_livedoor_at_listing"
    label="<__trans phrase="Check Livedoor clip">">
    <label><input type="checkbox" <mt:if name="check_livedoor_at_listing">checked="checked"</mt:if> name="check_livedoor_at_listing" id="check_livedoor_at_listing" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_yahoo_at_listing"
    label="<__trans phrase="Check Yahoo! BookMark">">
    <label><input type="checkbox" <mt:if name="check_yahoo_at_listing">checked="checked"</mt:if> name="check_yahoo_at_listing" id="check_yahoo_at_listing" /> <__trans phrase="Check"></label>
</mtapp:setting>
<mtapp:setting
    id="check_buzzurl_at_listing"
    label="<__trans phrase="Check Buzzurl">">
    <label><input type="checkbox" <mt:if name="check_buzzurl_at_listing">checked="checked"</mt:if> name="check_buzzurl_at_listing" id="check_buzzurl_at_listing" /> <__trans phrase="Check"></label>
</mtapp:setting>